@model List<ShopingNightMongo.Dtos.ProductDtos.ResultProductDto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Stok Sayısı</th>
            <th>Ürün Kategori</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.StockCount</td>
                <td>@item.CategoryName</td>
                <td><a href="/Products/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Products/UpdateProduct/@item.ProductId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Products/CreateProduct/" class="btn btn-primary">Yeni Ürün Ekle</a>
</div>